 <tbody>
 <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Guidelines </h4>
                        <p class="card-category"> This website is intended as learning support for BERNARDO GUIMARÃES's finance course at FGV EESP  </p>

                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table ">
                            <thead>
                            <th></th>
                            <th>Instructions</th>
                            
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>This trading platform simulates and allows exchanges of stock</td>
                            </tr>
                            <tr>
                                <td>2</td>

                                <td>The exchanges will be divided in several sequences </td>
                            </tr>
                                <td>3</td>

                                <td>During each sequence, the objective is to maximize total cash available </td>
                            <tr>
                                 <td>4</td>

                                <td>Total cash amount and available stocks are susceptible to change between sequences</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 </tbody>
 <p>test</p>
