<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-md-8">
                <div class="card text-center">
                    <div class="card-header ">
                        <h4 class="card-title">{{{currentUser.name}}}</h4>

                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <p>-</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>