
  
  h1, h3 {  
    font-family:"Garamond";
    text-align:center;

  }

.container {
    text-align:center;

}  
 #button1 { display: inline-block}

 .li {
    text-align:left; 
    padding-right:30%
 }