<div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    {{#if user}}
        <a class="btn btn-outline-dark" href="/users/logout">Log Out</a>
    {{else}}
        <a class="btn btn-outline-dark" href="/users/login">Log In</a>
    {{/if}}
</div>
