<div class="content">
    <div class="container-fluid">
        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Buy</h4>
                    </div>
                    <div class="card-body ">
                        <div>
                            <form method="post" action="/market/buy">
                                <div class="form-group">
                                    <label for="assetName">Asset</label>
                                    <select type="text" class="form-control" id="assetName" aria-describedby="AssetName" name="asset">
                                        <option value="stockA">A</option>
                                        <option value="stockB">B</option>
                                        <option value="stockC">C</option>
                                    </select>
                                    <small id="assetHelp" class="form-text text-muted">which stock you want to buy</small>
                                </div>
                                <div class="form-group">
                                    <label for="buyQuantity">Quantity</label>
                                    <input type="number" class="form-control" min="0" id="buyQuantity" placeholder="0" name="buyQuantity">
                                </div>
                                <div class="form-group">
                                    <label for="buyPrice">Price</label>
                                    <input type="number" class="form-control" min="0" id="buyPrice" placeholder="0" name="buyPrice">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark">Buy</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sell</h4>
                    </div>
                    <div class="card-body ">
                        <div>
                            <form method="post" action="/market/sell">
                                <div class="form-group">
                                    <label for="assetName">Asset</label>
                                    <select type="text" class="form-control" id="assetName" aria-describedby="AssetName" name="asset">
                                        <option value="stockA">A</option>
                                        <option value="stockB">B</option>
                                        <option value="stockC">C</option>
                                    </select>
                                    <small id="assetHelp" class="form-text text-muted">which stock you want to sell</small>
                                </div>
                                <div class="form-group">
                                    <label for="sellQuantity">Quantity</label>
                                    <input type="number" class="form-control" min="0" id="sellQuantity" placeholder="0" name="sellQuantity">
                                </div>
                                <div class="form-group">
                                    <label for="sellPrice">Price</label>
                                    <input type="number" class="form-control" min="0" id="sellPrice" placeholder="0" name="sellPrice">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark">Sell</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Buy Offers</h4>
                        <p class="card-category">Current buy offers for the selected asset</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>OfferID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Stock A</td>
                                <td>$36,738</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Stock A</td>
                                <td>$23,789</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Stock A</td>
                                <td>$56,142</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Stock A</td>
                                <td>$38,735</td>
                                <td>78</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Stock A</td>
                                <td>$63,542</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Stock A</td>
                                <td>$78,615</td>
                                <td>92</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Sell Offers</h4>
                        <p class="card-category">Current sell offers for the selected asset</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>OfferID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Stock A</td>
                                <td>$36,738</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Stock A</td>
                                <td>$23,789</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Stock A</td>
                                <td>$56,142</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Stock A</td>
                                <td>$38,735</td>
                                <td>78</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Stock A</td>
                                <td>$63,542</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Stock A</td>
                                <td>$78,615</td>
                                <td>92</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>