
 <tbody>
 <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Information</h4>
                        <p class="card-category"> Your User Information </p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table ">
                            <thead>
                            <th>Label</th>
                            <th>Your Information</th>
                            
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td>Lucas</td>
                            </tr>
                            <tr>
                                <td>Session</td>
                                <td>2</td>
                            </tr>
                                <td>Class</td>
                                <td>Finance</td>
                            <tr>
                                <td>Teacher</td>
                                <td>Bernardo</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
 <div class="col-md-6">
 <div class="card strpied-tabled" >
                    <div class="card-header ">
                        <h4 class="card-title">Current Position</h4>
                        <p class="card-category">Ranking of the students</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table">
                            <thead>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Profit</th>
                            <th>Number of trades</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Joao</td>
                                <td>$3,998</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jack</td>
                                <td>$3,789</td>
                                <td>20</td>
                            </tr>
</div>
</div>
</div>
</tbody>