*{
  font-family: Garamond;
  text-align:center;
}

h1 {
  padding-top:60px;
}
p {
  padding-top:10px;
  font-weight: bold;
}

.form-group {
  margin-top:20px;
  margin-right: 300px;
  margin-left:300px;
}
